@font-face {
    font-family: "SourceSansProLight";
    src: url(../fonts/SourceSansProLight.otf) format('opentype');
  }


body {
background-attachment: fixed;
background-image: url('/home/utilisateur/github/Page-BORDERLAND/images/gif/mongif.gif');
background-repeat: no-repeat;
background-size: cover;
}


footer {
  background-color: rgba(0,0,0,0.5);
  border: 3px solid coral;
  padding-left: 20px;
  width: 650px;
  height:1500px;
  position: relative;
  left: 300px;
}


p, h2{
  font-size: 18px;
  color:gainsboro;
  font-family: "SourceSansProLight";
}


#gifpremier {
  position: relative;
  left: 10px;
  border-radius: 15px;
  height: 180px;
  width: 300px;
}


#gifdeuxieme {
position: relative;
left:15px;
border-radius: 15px;
height: 180px;
width: 300px;
}


#giftroisieme{
  position: absolute;
  right:700px;
  bottom:1200px;
  border-radius: 80px;
  border: 2px solid coral;
}
}


.titre {
  color: coral;
}
