@font-face {
    font-family: "SourceSansProLight";
    src: url(../fonts/SourceSansProLight.otf) format('opentype');
  }

  #video {
  position: relative;
  right: 500px;
  bottom: 1000px;
  margin-left: auto;
  margin-right: auto;
  }

body {
background-attachment: fixed;
background-image: url('https://media.giphy.com/media/i8x4wSsUDvKEw/giphy.gif');
background-repeat: no-repeat;
background-size: cover;
}


footer {
  background-color: rgba(0,0,0,0.5);
  border: 3px solid coral;
  padding-left: 20px;
  width: 650px;
  height:1500px;
  position: relative;
  left: 300px;
}


p, h2 {
  font-size: 18px;
  color:gainsboro;
  font-family: "SourceSansProLight";
}


#gifpremier {
  position: relative;
  left: 10px;
  border-radius: 15px;
  height: 180px;
  width: 300px;
}


#gifdeuxieme {
position: relative;
left:15px;
border-radius: 15px;
height: 180px;
width: 300px;
}


#giftroisieme{
  position: absolute;
  height: 150px;
  width:150px;
  right:750px;
  opacity:0.5;
  bottom:1250px;
  border-radius: 150px;
  border: 2px solid coral;
}



h3 {
  font-family: white;
}
