.centrer {
  text-align: center;
  display: block;
      margin-left: auto;
      margin-right: auto

}
body
{
  background-image: url('/home/utilisateur/github/Page-BORDERLAND/images/bk.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
.taille1 {
  font-size: 70px;
  margin: 10px;
}
.color1 {
  color: #DBDB23;
  text-shadow: #000000 4px 4px;
}
.bouton a {
display:block;
width:150px;
line-height:50px;
text-align:center;
vertical-align:middle;
background:url('/home/utilisateur/github/Page-BORDERLAND/images/boutonnoir.png') no-repeat;
color:white;
text-decoration:none;
}
.bouton a:hover {
background:url('/home/utilisateur/github/Page-BORDERLAND/images/boutonnoir2.png') no-repeat;
}

.align {
position: absolute;
top:40px;
}
.align2 {
  position: absolute;
  top: 95px;
}
.align3 {
  position: absolute;
  top: 150px;
}

.logo {
  width:55%;
  height: 55%;
}
#conteneur {
  display:flex;
  flex-wrap: wrap;
}
.element {
  margin: auto;
  color:yellow;
  text-decoration: none;
}
.ombre {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

#conteneur1 {
  display:flex;
  flex-wrap: wrap;
}

a {
  color: yellow;
  text-decoration: none;
}
.marge1 {
  position: absolute;
  vertical-align: bottom;
}
#bottom {
  margin-bottom: 300px;
}
td , th {
  border: 1px solid white;

}
table {
  border-collapse: collapse;
  display: flex;
  flex-wrap: wrap;
}

.backg {
  background-color: #F0AA32;
  color: white
}
.line2 {
  color: #DEAA1B
}
.postab {
  margin-left: 70%;
  width: 30%
}

#hunter {
margin-left: 40%

}

.yellow {
  color:yellow;
}

.white {
  color: white;
}

.dim1 {
  text-align: justify;
  width: 50%
}

.redim {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
top: 130%;
width: 80%
}
