.centrer {
  text-align: center;
  display: block;
      margin-left: auto;
      margin-right: auto

}
body
{
  background-image: url('/home/utilisateur/github/Page-BORDERLAND/images/background.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.taille1 {
  font-size: 70px;
  margin: 10px;
}
.color1 {
  color: #DBDB23;
  text-shadow: #000000 4px 4px;
}
.bouton a {
display:block;
width:150px;
line-height:50px;
text-align:center;
vertical-align:middle;
background:url('/home/utilisateur/github/Page-BORDERLAND/images/boutonnoir.png') no-repeat;
color:white;
text-decoration:none;
}
.bouton a:hover {
background:url('/home/utilisateur/github/Page-BORDERLAND/images/boutonnoir2.png') no-repeat;
}

.align {
position: absolute;
top:40px;
}
.align2 {
  position: absolute;
  top: 95px;
}
.align3 {
  position: absolute;
  top: 150px;
}
