@import url(reset.css);

@font-face {
    font-family: "SourceSansPro";
    src: url(../fonts/SourceSansPro.otf) format('opentype');
        

  }
  @font-face {
    font-family: "SourceSansProLight";
    src: url(../fonts/SourceSansProLight.otf) format('opentype');
        

  }
 

body {
    background: url("../images/bk.png")rgba(0, 0, 0, 0.5) no-repeat fixed center;
    
}

#text {
    background-color: red;
    max-width: 700px;
    text-align: center;
}
p {
    font-family: "SourceSansProLight";
    font-size: 20px;
    color: whitesmoke;
    font-weight: 100;
    letter-spacing: 1px;
    
}