@import url(reset.css);


@font-face {
    font-family: "SourceSansProLight";
    src: url(../fonts/SourceSansProLight.otf) format('opentype');
        

}
 

body {
    background: url("../images/bk.png") no-repeat fixed center;
    background-size: cover;
}

#wrapper {
    padding: 8%;
}

.logo {
    display: block;
    margin: auto;
}

#vide1 {
    height: 70px;
}

#text {
    text-align: center;
    width: 100%;
}


p {
    font-family: "SourceSansProLight";
    font-size: 18px;
    color:gainsboro;
    font-weight: 100;
    letter-spacing: 0.8px;
    line-height: 1.6;
    padding: 2%;
    
}

#vide2 {
    
    height: 80px;
}

ul {
    padding: 0;
    margin: 0;
    text-align: center;
}
ul li {
    display: inline;
    list-style: none;
   
}
ul a {
    font-family: "SourceSansProLight";
    color:gainsboro;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    display: inline-block;
    cursor:  pointer;
    width: 15%;

}

#bestiaire:hover ~ hr {
    margin-left: 540px;
  }

#arme:hover ~ hr {
    margin-left: 760px;
}

#acheter:hover ~ hr {
    margin-left: 975px;
}

hr {
    height: 3px;
    width: 8%;
    margin: 6px 0;
    background: #ffda1f;
    border: none;
    transition: .4s ease-in-out;
    margin-left: 325px;
  }



